* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    font-family: 'Merriweather', serif;
}


.banner {
    padding: 50px 140px;
}

.banner_img {
    width: 100%;
    height: 600px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Bannerimg.png');
}

.banner_info {
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-family: Merriweather;
    padding-top: 195px;
    font-weight: 400;
}

.banner_title {
    color: #fff;
    font-size: 75px;
    text-align: center;
    margin-top: 16px;
    font-family: Merriweather;
    font-weight: 800;

}


/* Main section style start */

.discount_offer {
    color: #F00;
    text-align: center;
    font-size: 75px;
    font-weight: 800;
    margin-top: 80px;
}

.discount_info {
    color: #F00;
    text-align: center;
    font-size: 18px;
}

.discount_title {
    font-size: 40px;
    text-align: center;
    color: #000;
    margin-top: 15px;
}

.new_year_offer img {
    width: 760px;
    height: 480px;
    margin-top: 80px;
    margin-left: 27pc;
}

.vectorr {
    padding: 50px 140px;
    display: flex;
}

.vectorr .vectorr_img {
    width: 100%;
    height: 600px;
    margin-top: 90px;
    border-radius: 25px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Vectorrr.png');
    background-repeat: no-repeat;
}

.vectorr_titile {
    color: #fff;
    font-size: 65px;
    font-weight: 800;
    padding: 126px 550px 20px 126px;
}

.vectorr_info {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding: 10px 550px 20px 126px;
}
.vectorr img{
    display: flex;
    position: absolute;
    margin-top: 75px;
    left: 60pc;
}

.btn_primary {
    width: 120px;
    height: 45px;
    background-color: #F00;
    border: none;
    border-radius: 8px;
    margin-left: 126px;
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    transition: 1s;
    cursor: pointer;
}

.btn_primary:hover {
    border: 1px solid #00e2ed;
    background: transparent;
    color: #fff;
}



.hotel_booking {
    width: 1300px;
    height: 450px;
    background: linear-gradient(180deg, rgb(255 0 233 / 25%) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 50px 140px;
    border-radius: 28px;
}

.place_selected span {
    color: #F00;
}

.place_selected {
    text-align: center;
    padding-top: 180px;
    font-size: 32px;
    font-weight: 600;
}

.booking_date span {
    color: #F00;
}

.booking_date {
    text-align: center;
    padding-top: 10px;
    font-size: 32px;
    font-weight: 600;
}

.time span {
    color: #F00;
}

.time {
    text-align: center;
    padding-top: 10px;
    font-size: 32px;
    font-weight: 600;
}

.hotel_booking .join_btn {
    width: 120px;
    height: 45px;
    background-color: #F00;
    border: none;
    border-radius: 8px;
    margin-left: 38pc;
    font-size: 20px;
    color: #fff;
    margin-top: 42px;
    transition: 1s;
    cursor: pointer;
}


.coming_soon_offer {
    margin: 50px 140px;
    background-color: #fff;
    width: 1320px;
    height: 400px;
    padding-left: 10px;
    margin-top: 110px;
    display: flex;
}

.offer_description {
    width: 360px;
    height: 400px;
}

.info {
    color: #F00;
    font-size: 18px;
    font-weight: 500;
    padding-top: 130px;
}

.title {
    color: #000;
    font-size: 40px;
    font-weight: 800;
    padding-top: 10px;
    font-family: Merriweather;
    text-transform: capitalize;
}

.description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.offer_img {
    width: 370px;
    height: 370px;
    background-color: #fff;
    margin-left: 7pc;
    border-radius: 50%;
    border: 15px solid #F00;
}

.offer_img img {
    width: 330px;
    height: 330px;
    padding: 20px 20px;
}

.offer_time {
    width: 265px;
    height: 400px;
    margin-left: 70px;
}

.offer_time .year {
    color: #F00;
    padding-top: 70px;
    font-weight: 800;
    font-size: 35px;
}

.offer_time .year_info {
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
}

.offer_time img {
    width: 100px;
    height: 115px;
    margin-top: 25px;
}

.holidays_offer {
    width: 1320px;
    height: 712px;
    margin: 50px 140px;
    margin-top: 130px;
}

.holidays_offer .holiday_info {
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    padding-top: 15px;
}

.holidays_offer .holiday_title {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    padding-top: 10px;
    color: #000;
}

.holidays_offer .holiday_title span {
    color: #F00;
}

.holidays_offer .holiday_description {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: rgba(7, 2, 17, 0.60);
    margin-bottom: 40px;
}

.holiday_discount_offer {
    display: flex;
}

.holiday_discount_offer .gift_box img {
    width: 600px;
    height: 443px;
    position: absolute;
    margin-top: 30px;
    left: 11pc;
    z-index: 2;
}
.holiday_discount_offer .gift_box .shadow {
    background: radial-gradient(49.96% 50% at 50% 50.23%, #000 0%, #FFF 100%);
    opacity: 0.3;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    width: 40pc;
    height: 100px;
    position: relative;
    top: 23pc;
    left: 14px;
    z-index: 1;
}
.holiday_discount_offer .discount img{
    width: 206px;
    height: 206px;
    position: relative;
    top: 70px;
    left: 14pc;
    z-index: 2;
}
.holiday_discount_offer .model_girl img{
    width: 345px;
    height: 340px;
    position: relative;
    top: 4px;
    left: 129px;
    z-index: 1;
}
.line_img img {
    width: 100%;
    height: 145px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
}


.protfolio{
    margin: 50px 140px;
    width: 1320px;
    height: 900px;
    margin-top: 120px;
}
.protfolio_info{
    color: #F00;
    font-size: 18px;
    font-weight: 500;
}
.protfolio_title{
    color: #000;
    font-size: 40px;
    font-weight: 800;
    padding-top: 10px;
    font-family: Merriweather;
    text-transform: capitalize;
}
.protfolio_description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.protfolio_image_gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 33px;
}
.protfolio_image_gallery .item img{
    width: 430px;
    height: 320px;
    overflow: hidden;
    margin: 5px;
}
.protfolio_image_gallery .item img:hover{

}


.subscribe_newsletter{
    margin: 50px 140px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 15px;
    width: 83%;
    height: 600px;
}
.subscribe_img{
    display: flex;
    justify-content: center;
}
.subscribe_img img{
    padding-top: 100px;
    width: 150px;
    height: 135px;
}
.subscribe_title{
    text-align: center;
    color: #070211;
    font-size: 48px;
    margin-top: 45px;
    font-weight: 900;
}
.subscribe_description{
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.subscribe_btn{
    position: absolute;
    margin-top: 75px;
    width: 500px;
    left: 35%;
}
.subscribe_btn input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}
.subscribe_btn input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    font-size: 18px;
}
.subscribe_btn input[type="submit"]{
    position: relative;
    border-radius: 0 25px 25px 0;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #FFF;
    background: #F00;
    cursor: pointer;
}
/* Main section style end */



#footer_section{
    background-color: #070211;
    width: 100%;
    height: 500px;
    margin-top: 120px;
}

.contact{
    margin: 50px 140px;
    width: 80%;
    height: 80px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.contact p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.contact_us li{
    list-style: none;
    color: #fff;
    font-size: 20px;
}
.social_link{
    margin: 24px 0 24px 0;
    display: flex;
    justify-content: center;
}

.social_link img{
    padding: 20px;
    width: 60px;
    height: 60px;
}
.copyright{
    margin: 50px 140px;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.copyright h4{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.copyright a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}